body{
    background-color: antiquewhite;
}
nav {
    text-align: end;
    margin: 30px;
    word-spacing: 20px;
    font-size: large;
    margin-right: 100px;
    margin-bottom: 20px;
    background-color: pink;
    padding: 25px;

}
nav a{
    text-decoration: none;
    color: blue;
    box-shadow: 20px;

}
h1,p{
    text-align: center;
    margin-top: 30px;
}
marquee img{
   height: 300px;
   width: 300px;
   border-radius: 4em;

   padding: 50px;
}

